body {
    padding: 0;
    margin: 0;
}
html, body {
    position:absolute
    height: 100%;
    width: 100vw;
}

#map {
    position:absolute;
    height: 95%;
    width: 100vw;
}

#info {
    position:fixed;
    height: 5%;
    width: 100vw;
    bottom: 0;
}

#ul-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
  }
  
#li-bar {
    float: left;
    border-right: 1px solid #bbb;
    font-family: Arial, Helvetica, sans-serif
  }
  
 #a-bar {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #next-button {
    background-color: white;
    position: absolute;
    bottom: 40px;
    left: 10px;
    padding: 10px;
    z-index: 400;
    visibility:hidden
  }
  
  #closest-button {
    background-color: white;
    position: absolute;
    bottom: 40px;
    left: 10px;
    padding: 10px;
    z-index: 400;
    visibility:hidden
  }
  